:root {
  --body-background: darkblue;  
  --second-font-color: black;
  --hover-font-color: white;
  --hover-background-color: rgb(79, 73, 73);
  --header-background-color:rgb(248, 172, 185);
  --header-height: 60px;
  --greeting-color: white;
  --person-dimension: 300px;
  --skin-color: rgba(239, 226, 164, 0.957);
  --section-background:  rgb(79, 73, 73);
  --footer-height: 10vh;
  }
  
  * {
    font-family: arial;
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--body-background);
     min-width: 700px;
    min-height: 700px;
  }
  
  header {
    position: fixed;
    width: 100%;
    background-color: var(--header-background-color);
    z-index:5;
  }
  
  .header-filler {
  width: 100%;
    height: var(--header-height);
  }
  
  ul, .contact-icons, .projects, .contact-group, #welcome-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  a {
  text-decoration: none;
  }
  
  header nav ul {
    justify-content: flex-end;
    column-gap: 70px;
    margin-right: 40px;
    
    height: 100%;
    width: 100%;
  }
  
  header nav ul li a {
    height: 100%;
    margin: 0;
    padding: 20px;
    color: var(--second-font-color);
    display: block;
  }
  
  header nav ul li a:hover {
    color: var(--second-fontcolor);
    background-color: var(--hover-background-color);
  }
  
  li {
  list-style-type: none;
  }
  
  /* WELCOMING SECTION */
  /* #welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
  } */
  
  #welcome-section  {
   flex-direction: column;
   justify-content: space-evenly;
   row-gap: 10px;
  }
  
  h1 {
    text-align: center;
    
    font-size: 2.4rem;
  }
  
  #greeting * {
    font-size: 2.2rem;
    margin: 15px auto;
    color: var(--header-background-color);
    font-style: italic;
    font-weight: normal;
  }
  
  #greeting-h1 {
    margin-top: 7%;
    font-size: 3rem;
    color: var(--greeting-color);
      font-style: inherit;
    font-weight: bold;
  }
  
  .person {
    border: white solid 2px;
    background-color: white;
    width: var(--person-dimension);
    height: var(--person-dimension);
    margin: auto;
    border-radius: 50%;
    position: relative;
  }
  
  .person * {
  position: absolute;
  }
  
  .hair {
  width: 130px;
  height: 150px;
  background: rgb(78, 21, 21);
  border-radius: 40% 40% 0 0;
  top: 30px;
  left: 85px;
  z-index: 1;
  }
  
  .head {
    background: var(--skin-color);
    width: 120px;
    height:120px;
    border: 2px solid black;
    border-radius: 50%;
    top: 40px;
    left: 90px;
    z-index: 3;
  }
  
  .eye {
    background: white;
    width: 25px;
    height: 20px;
    border: black solid 1px;
    border-radius: 50% ;
    top: 36px;
    animation: 3s linear infinite blinking;
  }
  /*
  @keyframes blinking {
    10% {
    border-radius: 30% ;;
    height: 23px;
  
    }
    20% {
       border-radius:   10% ;
    height: 21px;
    }
    30% {
       border-radius: 30% ;
    height: 23px;
    }
    40% {
       border-radius: 50% ;
    height: 25px;
    }
  } */
  
  .eye.left {
    left: 25px;
  }
  
  .eye.right {
    right: 25px;
  }
  
  .pupil {
     background: rgb(71, 27, 27);
    width: 13px;
    height: 10px;
    border-radius: 50% ;
    top: 5px;
  }
  
  .pupil.right {
    right: 5px;
  }
  
  .pupil.left {
    left: 5px;
  }
  
  .nose {
    border-bottom: 3px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    width: 16px;
    height: 11px;
      border-radius: 0 0 40% 40%;
    top: 67px;
    left: 51px;
  }
  
  .blush {
    width: 20px;
    height: 20px;
    background: radial-gradient(rgba(255, 192, 203, 0.971),var(--skin-color));
    top: 67px;
    border-radius: 50%;
  }
  
  .blush.right{
  right: 20px;
  }
  
  .blush.left{
  left: 20px;
  }
  
  .lip {
    background: white;
    border: 5px rgba(255, 0, 0, 0.642) solid;
    width: 40px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 40px;
  }
  
  .lip.upper {
      border-bottom: none;
      top: 90px;
      z-index: 2;
  }
  
  .lip.lower {
        border-top: none;
  
        background: transparent;
        top: 95px;
        left: 45px;
        border-radius: 50% 50% 100% 100%;
        width: 30px;
        z-index: 1;
  }
  
  .neck {
    background: var(--skin-color);
    width: 40px;
    height: 14px;
    top: 158px;
    left: 131px;
    z-index: 2;
  }
  
  .neck:before {
  background: var(--skin-color);
    width: 40px;
    height: 3px;
    top: 158px;
  }
  
  .body {
    background: var(--body-background);
    width: 160px;
    height: 130px; 
    top: 170px;
    left: 70px;
    border-radius: 50% 50% 0 0;
    z-index: 3;
  }
  
  
  .arm {
      background: var(--skin-color);
      width: 120px;
      height: 35px;
      top: 200px;
      left: -7px;
      border-radius: 20%;
      transform-origin: 100% 50%;
      z-index: 1; 
      animation: 1.4s linear infinite wave;
  } 
  
  @keyframes wave {
    10% {
      transform: rotate(30deg) ;
    }
    20% {
      transform: rotate(40deg) ;
    }
    30% {
      transform: rotate(50deg);
    }
    40% {
      transform: rotate(60deg) ;
    }
  }
  
  /* PROJECTS SECTION */
  .projects {
    justify-content: space-evenly;
    row-gap: 30px;
  }
  
  #projects h1 {
    margin-bottom: 40px;
  }
  
  img {
    width: 400px;
    height: 370px;
    border-radius: 10px;
  }
  
  figure:hover {
  transform: scale(1.06);
  }
  
  /*
  figure {
  background: white;
    width: 600px;
    height: 390px;
  }
  */
  figcaption {
    text-align: center;
    margin-top: 20px;
  }
  
  /* CONTACT SECTION */
  .contact-group {
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 60px;
  }
  
  #contact h1 {
    font-size: 5rem;
    margin: auto;
  }
  
  .contact-icons {
    justify-content: space-around;
    font-size: 1.4rem;
    column-gap: 20px;
    row-gap: 20px;
  }
  
  .contact-icon:hover, .contact-icon *:hover {
  transform: scale(1.5);
  color: var(--header-background-color);
  }
  
  
  #contact {
  height: calc(100vh - var(--footer-height));
  padding: 20vh;
  }
  
  #contact, #projects {
    background: var(--section-background);
  }
  
  #welcome-section {
    height: 100vh;
  }
  
  /* FOOTER SECTION */
  footer {
    border-top: 2px solid white;
    padding: 18px 10px;
    height: var(--footer-height);
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    background: var(--section-background);
  }
  
  
  footer a {
    color: var(--header-background-color);
    font-weight: bold;
  }
  
  @media only screen and (max-width:1000px) {
    #contact h1 {
      font-size: 3.8rem;
    }
    footer * {
      font-size: 0.9rem;
    }
    .contact-icon:hover {
  transform: scale(1.15);
  }
  }
  
  @media only screen and (max-width:773px) {
    html {
      font-size: 1rem;
    }
  
    img {
  width: 500px;
  height: 400px;
    }
  }
  
  @media only screen and (max-width:400px) {
    header nav ul {
      justify-content: center;
      column-gap: 20px;
    }
  
    .person {
      display: none;
    }
  
  } 
  
  
  @media only screen and (max-height:400px) {
    .person {
      display: none;
    }
  }
  
  @media only screen and (max-height:600px) {
    #welcome-section {
      flex-direction: row;
      column-gap: 10px;
    }
    #welcome-section * {
      margin: auto;
    }
  }
  